<select #folderSelect class="folder-selector" (change)="onFolderChanged(folderSelect.value)" [value]="this.selectedFolder()">

    @for (folder of folders(); track $index) {
        <option [value]="folder">{{folder}}</option>
    }

</select>

<dialog #photoDialog class="photo-dialog" (keydown)="navigate($event)">
    
    <img class="photo" [src]="photos().images[openedPhoto()]" width="100%" loading="lazy" (load)="onImageLoaded($event)">
    
    <div class="photo-tool-container top right">
        <a class="photo-tool download-tool" (click)="download(this.photos().images[openedPhoto()], $event)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
            </svg>
        </a>
        <a class="photo-tool close-tool" (click)="photoDialog.close()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
            </svg>
        </a>
    </div>

    <div class="photo-tool-container bottom left" [hidden]="!hasPreviousPhoto()">
        <a class="photo-tool previous-tool" (click)="previousPhoto()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
            </svg>
        </a>
    </div>

    <div class="photo-tool-container bottom right" [hidden]="!hasNextPhoto()">
        <a class="photo-tool next-tool" (click)="nextPhoto()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
            </svg>
        </a>
    </div>

</dialog>

<div #photoAlbum class="photo-album">

    @for (photo of photos().images; track photo) {
        <div class="photo-container" (click)="open($index)">
            <img class="photo" [src]="photo" width="100%" loading="lazy" (load)="onImageLoaded($event)">
            <div class="photo-tool-container top right">
                <a class="photo-tool open-tool">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707m4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707m0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707m-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707"/>
                    </svg>
                </a>
                <a class="photo-tool download-tool" (click)="download(photo, $event)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                    </svg>
                </a>
            </div>
        </div>
    }
    @empty {
        @defer (on timer(500)) {
            <div class="photo-container no-photos">
                <b>No photos in {{photos().folder}}</b>. 
                Please select another folder.
            </div>
        }
        @defer (on timer(2000)) {
            <div class="loading-panel">
                Loading ...
            </div>
        }
    }

</div>

<div class="paginator">

    <select #pageSizeSelect class="page-size-selector" (change)="onPageSizeChanged(pageSizeSelect.value)" [value]="pageSize()">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
    </select>

    <div class="page-selector">
        <button class="page-selection" (click)="changePage(page()-1)" [disabled]="page() <= 1">Previous</button>
        <button class="page-selection" (click)="changePage(page()+1)" [disabled]="page() >= photos().totalPages">Next</button>
    </div>

    <div class="page-selector">
    
        @if(page() > 1 && !photos().previousPages.includes(1)) {
            <button class="page-selection" (click)="changePage(1)">1</button>
        }
        @if(page() > 2 && !photos().previousPages.includes(2)) {
            <button class="page-selection place-selection-placeholder" disabled>...</button>
        }

        @for(page of photos().previousPages; track $index) {
            <button class="page-selection" (click)="changePage(page)">{{page}}</button>
        }
        <button class="page-selection current-page" disabled>{{page()}}</button>
        @for(page of photos().nextPages; track $index) {
            <button class="page-selection" (click)="changePage(page)">{{page}}</button>
        }

        @if(page() < photos().totalPages-1 && !photos().nextPages.includes(photos().totalPages-1)) {
            <button class="page-selection place-selection-placeholder" disabled>...</button>
        }
        @if(page() < photos().totalPages && !photos().nextPages.includes(photos().totalPages)) {
            <button class="page-selection" (click)="changePage(photos().totalPages)">{{photos().totalPages}}</button>
        }

    </div>

    <div class="page-selector" style="display: grid; align-content: center;">
        {{photos().total}} image(s)
    </div>

</div>