:host {
    display: grid; 
    grid-template-rows: min-content auto; 
    height: 100vh;
    align-items: center;
}

header {
    height: 3rem;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    align-content: center;
    background-color: var(--header-background-color);
    color: var(--header-text-color);
    font-family: var(--header-font);

    h2 {
        margin: 0;
    }
}