:root {
    --border-color: #b5b5b5;
}

body {
    margin: 0;
    font-family: var(--body-font);
    background-color: var(--body-background-color);
    color: var(--body-text-color);
    font-size: 0.9rem;
}

body:has(dialog[open]) {
    overflow: hidden;
}

dialog:not([open]) {
    display: none !important;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.9);
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border: 1px solid var(--border-color);
    background-color: #efefef;
    padding: 5px;
    padding-right: 25px !important;
    border-radius: 0;

    // chevron svg source: https://icons.getbootstrap.com/icons/chevron-down
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
}
